.nkError {
}
.nkSuccess {
}
.nkCenter {
    text-align: center;
}
#nkCenter {
    text-align: center;
}
.ie-gradient{-ms-filter:"none"; filter:none}
body{
    font-size: 11px;
    font-family: sans-serif;
}
/* DIFNITION DE LA COULEUR DES LIENS / TEXTES */
a, a:link, a:visited, a:hover {
    text-decoration: none;
}

ol > li {
    list-style-type: decimal;
}
/* SUPPRESSION DES POINTS SUR LES LI */
li {
    list-style: none outside none;
}

/******* AJOUT PAR MAXXI ********/
#nkSiteClose {
    background: none repeat scroll 0 0 #ECEADB;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    min-width: 900px;
    padding: 0;
}
#nkSiteClose a:link, #nkSiteClose a:visited, #nkSiteClose a:active, #nkSiteClose a:hover {
    border: 0 none;
    color: #78B404;
    outline: 0 none;
    text-decoration: none;
}
#nkSiteClose section {
    background: url("../modules/Admin/images/bg-login.gif") repeat scroll 0 0 #222222;
    border-radius: 10px;
    display: block;
    margin: 50px auto auto;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}
#nkSiteClose hgroup {
    display: block;
    padding-top: 15px;
}
#nkSiteClose img {
    vertical-align: middle;
}
#nkSiteClose h1 {
    color: white;
    display: inline;
    font-size: 24pt;
    vertical-align: middle;
}
#nkSiteClose h2 {
    color: #DBDBDB;
    font-size: 18pt;
    font-style: italic;
    margin: 0;
}
#nkSiteClose p {
    font-size: 12pt;
    padding: 14px;
}
#nkSiteClose form {
    background: none repeat scroll 0 0 #555555;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}
#nkSiteClose div {
    padding: 5px;
}
#nkSiteClose label {
    display: inline-block;
    text-align: left;
    width: 90px;
}
#nkSiteClose input {
    background: none repeat scroll 0 0 #828282;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    height: 20px;
}
#nkSiteClose input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #7D7D7D 30%, #272727 100%);
    background-image:    -moz-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:     -ms-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:      -o-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:         linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D',endColorstr='#272727', GradientType=0);
    border: 1px solid #343434;
    border-radius: 4px;
    cursor: pointer;
    height: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
#nkSiteClose input[type="submit"]:hover {
    background-image: -webkit-linear-gradient(top, #272727 30%, #7D7D7D 100%);
    background-image:    -moz-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:     -ms-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:      -o-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:         linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727',endColorstr='#7D7D7D', GradientType=0);
}
#nkSiteClose footer {
    color: #979994;
    text-align: center;
    height: 15px;
}
#nkSiteClose a {
    color: #78B404;
}


/* Affichage pop MP */
#popup_dhtml {
    position:absolute;
    top:0;
    left:0;
    visibility:visible;
    z-index:10;
}

/* Dimension de la fonction post des commentaires */
#commentPostGlobal {
    height: 350px;
    margin: 0;
    padding: 0;
}
.bgCommentAltern{
    background: #727272;
    border-bottom: 1px solid #000;
}
.bgCommentAltern:nth-child(odd){
    background: #646464;
}
/* Temps de generation index */
#nkGenerate{
    text-align:center;
}
/* NK Captcha */
#nkCaptcha img {
    display: block;
}

/* CSS pour la fonction Vote */
div.globalVoteResult {
    display: inline-block;
    text-align: right;
    width: 39%;
}
div.globalResultVote {
    display: inline;
    float: right;
    text-align: right;
    width: 39%;
}
div.globalResultVote  > img {
    vertical-align: middle;
}
div[class^='globalRating_'] {
    display: inline;
}
div[id^='globalVoteResult_'] {
    display: inline;
}
.iconeRating {
    vertical-align: middle;position:relative;
    z-index:24;
    color:#000;
    text-decoration:none
}

/* Global pour l'affichage du breadcrumb */
.crumbs li, .crumbsgreen li, .crumbsblue li, .crumbsyellow li, .crumbsred li, .crumbspurple li {display: inline;}
.crumbs li:first-child, .crumbsgreen li:first-child; .crumbsblue li:first-child, .crumbsyellow li:first-child, .crumbsred li:first-child, .crumbspurple li:first-child, .crumbsadmin li:first-child {}
.crumbs li a, .crumbs li a:link, .crumbs li a:visited, 
.crumbsgreen li a, .crumbsgreen li a:link, .crumbsgreen:visited li a,
.crumbsblue li a, .crumbsblue li a:link, .crumbsblue:visited li a,
.crumbsyellow li a, .crumbsyellow li a:link, .crumbsyellow:visited li a,
.crumbsred li a, .crumbsred li a:link, .crumbsred li a:visited, 
.crumbspurple li a, .crumbspurple li a:link, .crumbspurple li a:visited {margin-left: -15px; padding: 8px 17px;text-decoration: none;}

.crumbs li a:hover, 
.crumbsgreen li a:hover, 
.crumbsblue li a:hover, 
.crumbspurple li a:hover,
.crumbsred li a:hover, 
.crumbsadmin li a:hover,
.crumbsyellow li a:hover { cursor: pointer; }
.crumbs li a:hover { background-position: 100% -96px; }
.crumbsgreen li a:hover { background-position: 100% -394px; }
.crumbsblue li a:hover { background-position: 100% -245px; }
.crumbspurple li a:hover { background-position: 100% -543px; }
.crumbsred li a:hover { background-position: 100% -692px; }
.crumbsyellow li a:hover { background-position: 100% -841px; }

.crumbs li a:active { background-position: 100% -48px; }
.crumbsgreen li a:active { background-position: 100% -346px; }
.crumbsblue li a:active { background-position: 100% -197px; }
.crumbspurple li a:active { background-position: 100% -495px; }
.crumbsred li a:active { background-position: 100% -644px; }
.crumbsyellow li a:active { background-position: 100% -793px }

.crumbs li:last-child a, 
.crumbsgreen li:last-child a, 
.crumbsblue li:last-child a, 
.crumbsyellow li:last-child a, 
.crumbsred li:last-child a, 
.crumbspurple li:last-child a{color: #666;}

[class^="crumbs"] li a,
[class^="crumbsgreen"] li a,
[class^="crumbsblue"] li a,
[class^="crumbsyellow"] li a,
[class^="crumbsred"] li a,
[class^="crumbspurple"] li a {background-position: 100% 0; position: relative;}

[class^="crumbs"] li a,
[class^="crumbsblue"] li a,
[class^="crumbsgreen"] li a,
[class^="crumbsyellow"] li a,
[class^="crumbsred"] li a,
[class^="crumbspurple"] li a {background-image: url('../images/breadcrumbs/crumbsBackground.png');}

[class^="crumbs"] li a { background-position: 100% 0; width: 480px; height: 144px; } 
[class^="crumbsblue"] li a { background-position: 100% -149px; width: 480px; height: 144px; } 
[class^="crumbsgreen"] li a { background-position: 100% -298px; width: 480px; height: 144px; } 
[class^="crumbspurple"] li a { background-position: 100% -447px; width: 480px; height: 144px; } 
[class^="crumbsred"] li a { background-position: 100% -596px; width: 480px; height: 144px; } 
[class^="crumbsyellow"] li a { background-position: 100% -745px; width: 480px; height: 144px; } 

/* Global pour l'affichage des icons "sprites" */
[class^="nkIcon"], [class*="nkIcon"] {
    background-image: url("../images/nkIconSprite.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px; 
    display: inline-block;
    margin-top : 1px;
    line-height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.nkIconAccept{ background-position: 0 0;  } 
.nkIconAdd{ background-position: -21px 0;  } 
.nkIconAddComment{ background-position: -42px 0;  } 
.nkIconAddFavorites{ background-position: -63px 0;  } 
.nkIconAddLink{ background-position: -84px 0;  } 
.nkIconAddPage{ background-position: -105px 0;  } 
.nkIconAi{ background-position: -126px 0;  } 
.nkIconAttachment{ background-position: -147px 0;  } 
.nkIconAutor{ background-position: -168px 0;  } 
.nkIconAvi{ background-position: -189px 0;  } 
.nkIconBack{ background-position: -210px 0;  } 
.nkIconBlock{ background-position: -231px 0;  } 
.nkIconBmp{ background-position: -252px 0;  } 
.nkIconCdr{ background-position: -273px 0;  } 
.nkIconChart{ background-position: -294px 0;  } 
.nkIconClock{ background-position: -315px 0;  } 
.nkIconComments{ background-position: -336px 0;  } 
.nkIconCss{ background-position: -357px 0;  } 
.nkIconCsv{ background-position: -378px 0;  } 
.nkIconDate{ background-position: -399px 0;  } 
.nkIconDateUpdate{ background-position: -420px 0;  } 
.nkIconDelete{ background-position: -441px 0;  } 
.nkIconDoc{ background-position: -462px 0;  } 
.nkIconDownload{ background-position: -483px 0;  } 
.nkIconEmail{ background-position: -504px 0;  } 
.nkIconEps{ background-position: -525px 0;  } 
.nkIconFla{ background-position: -546px 0;  } 
.nkIconFolder{ background-position: -567px 0;  } 
.nkIconGif{ background-position: -588px 0;  } 
.nkIconGlobe{ background-position: -609px 0;  } 
.nkIconHeart{ background-position: -630px 0;  } 
.nkIconHelp{ background-position: -651px 0;  } 
.nkIconHome{ background-position: -672px 0;  } 
.nkIconIco{ background-position: -693px 0;  } 
.nkIconInfo{ background-position: -714px 0;  } 
.nkIconJpg{ background-position: -735px 0;  } 
.nkIconJs{ background-position: -756px 0;  } 
.nkIconJson{ background-position: -777px 0;  } 
.nkIconLink{ background-position: -798px 0;  } 
.nkIconMail{ background-position: -819px 0;  } 
.nkIconMailLock{ background-position: -840px 0;  } 
.nkIconMailReceive{ background-position: -861px 0;  } 
.nkIconMailSend{ background-position: -882px 0;  } 
.nkIconMemberSearch{ background-position: -903px 0;  } 
.nkIconMembers{ background-position: -924px 0;  } 
.nkIconMov{ background-position: -945px 0;  } 
.nkIconMp3{ background-position: -966px 0;  } 
.nkIconMusic{ background-position: -987px 0;  } 
.nkIconNext{ background-position: -1008px 0;  } 
.nkIconNextTrack{ background-position: -1029px 0;  } 
.nkIconPalette{ background-position: -1050px 0;  } 
.nkIconPause{ background-position: -1071px 0;  } 
.nkIconPdf{ background-position: -1092px 0;  } 
.nkIconPhone{ background-position: -1113px 0;  } 
.nkIconPlay{ background-position: -1134px 0;  } 
.nkIconPng{ background-position: -1155px 0;  } 
.nkIconPpt{ background-position: -1176px 0;  } 
.nkIconPreviousTrack{ background-position: -1197px 0;  } 
.nkIconPrint{ background-position: -1218px 0;  } 
.nkIconPsd{ background-position: -1239px 0;  } 
.nkIconRefresh{ background-position: -1260px 0;  } 
.nkIconRemoveLink{ background-position: -1281px 0;  } 
.nkIconRss{ background-position: -1302px 0;  } 
.nkIconSearch{ background-position: -1323px 0;  } 
.nkIconShutDown{ background-position: -1344px 0;  } 
.nkIconStarEmpty{ background-position: -1365px 0;  } 
.nkIconStarFull{ background-position: -1386px 0;  } 
.nkIconStarHalfFull{ background-position: -1407px 0;  } 
.nkIconStop{ background-position: -1428px 0;  } 
.nkIconSvg{ background-position: -1449px 0;  } 
.nkIconSwf{ background-position: -1470px 0;  } 
.nkIconTextPage{ background-position: -1491px 0;  } 
.nkIconTiff{ background-position: -1512px 0;  } 
.nkIconTrash{ background-position: -1533px 0;  } 
.nkIconTtf{ background-position: -1554px 0;  } 
.nkIconTxt{ background-position: -1575px 0;  } 
.nkIconUnlock{ background-position: -1596px 0;  } 
.nkIconVolumeDown{ background-position: -1617px 0;  } 
.nkIconVolumeUp{ background-position: -1638px 0;  } 
.nkIconWarning{ background-position: -1659px 0;  } 
.nkIconWave{ background-position: -1680px 0;  } 
.nkIconXls{ background-position: -1701px 0;  } 
.nkIconXml{ background-position: -1722px 0;  } 
.nkIconZip{ background-position: -1743px 0;  } 
.nkIconZipFileInfo{ background-position: -1764px 0;  } 
.nkIconZoomIn{ background-position: -1785px 0;  } 
.nkIconZoomOut{ background-position: -1806px 0;  } 
.nkIconlang{ background-position: -1827px 0;  } 

/* Affichage pour le Block Login */
.nkBlockLogin {
    margin-top: 20px;
    text-align: center;
}
.nkBlockLogin figure {
    text-align: center;
}
.nkBlockLogin nav {
}
.nkBlockLogin ul {
    list-style: none outside none;
    margin: 0 0 0 28px;
    padding: 0;
    text-align: left;
}
.nkBlockLogin ul:last-child {
    margin-bottom: 10px;
}
.nkBlockLogin h4 {
    margin-left: 10px;
}
.nkBlockLogin h5 {
    font-size: 12px;
    margin: 0 0 0 8px;
    text-align: left;
}
.nkBlockLogin form {
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    display: block;
}
.nkBlockLogin div {
    padding: 3px;
}
.nkBlockLogin label {
    display: inline-block;
    text-align: left;
    width: 90px;
}
.nkBlockLogin #BlockLoginRememberme {
    vertical-align: top;
    width: 55%;
}
.nkBlockLogin input[type="checkbox"] {
    width: 25px;
}
.nkBlockLogin input[type="submit"] {
    margin-bottom: 5px;
}
/* Global pour l'affichage des <label> */
.nkLabelSpacing {
    width: 12%;
    display: inline-block !important;
    padding: 15px 0;
}
/* Global pour l'affichage des boutons <input type=button> */
.nkButton {
    background-image: -webkit-linear-gradient(top, #7D7D7D 30%, #272727 100%);
    background-image:    -moz-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:     -ms-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:      -o-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:         linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D',endColorstr='#272727', GradientType=0);
    border: 1px solid #343434;
    border-radius: 4px;
    cursor: pointer;
    font-family: "OpenSansSemibold",Arial,Sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    color: #ccc !important;
}
.nkButton:hover {
    color: #fff !important;
}

/* Global pour afficher une séparation en 3D */
.nkSeparator {
    background-image: -webkit-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:    -moz-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:     -ms-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:      -o-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:         linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3',endColorstr='#000000', GradientType=1);
    height: 4px;
    margin: 5px auto;
    padding: 0 !important;
    width: 90%;
}
/*  Global pour les <input> et <select> */ 
.nkInput, .nkSelect {
    background: rgba(0, 0, 0, 0.25);
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.49);
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    max-width: 100px;
    padding-left: 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
}
 /* Global pour afficher une couleur sur 2 dans les éléments */
.nkAlternColor:nth-of-type(2n+1) {
    background: #F3F3F3;
}

/* Global pour la public function nkRadioBox */
.nkRadioBoxcontainer label:first-child {
    display: inline-block !important;
    padding: 0;
    vertical-align: top;
    margin-top: 5px;
}
.nkRadioBox {
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1) inset, 0 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    line-height: 25px;
    padding: 2px;
}
.nkRadioBoxLabel {
    cursor: pointer;
    font-size: 11px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
}
.nkRadioBoxInput {
  display: none;
}
.nkRadioBoxInput:checked + .nkRadioBoxLabel {
    font-weight: bold;
    color: #fff;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #459300, #50A500);
    background-image: -moz-linear-gradient(top, #459300, #50A500);
    background-image: -o-linear-gradient(top, #459300, #50A500);
    background-image: linear-gradient(to bottom, #459300, #65bd63);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.3), 0 0 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}


/* Global pour la public function nkCheckBox */
.nkCheckBox {
    display: block;
    margin: 10px 0;
    text-align: left;
}
.nkCheckBox label:first-child {
    display: inline;
    margin-left: 14px;
    margin-right: 9px;
}
.nkCheckBoxRounded input[type=checkbox] {
    visibility: hidden;
}
.nkCheckBoxRounded {
    display: inline-block;
    height: 15px;
    padding: 0 !important;
    position: relative;
    width: 14px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}
.nkCheckBoxRounded label {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 2px;
    top: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
}
.nkCheckBoxRounded label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3FFF00;
    border-radius: 50px;
}
.nkCheckBoxRounded label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.nkCheckBoxRounded input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* TOTOP CSS */
#nkToTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:-999px;
    background:url(../images/ui.totop.png) no-repeat left top;
}
#nkToTopHover {
    background:url(../images/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}
#nkToTop:active, #nkToTop:focus {
    outline:none;
}


/* Global pour les Width */
.nkWidthFully{
    width: 100% !important;
}
.nkWidthFull {
    width: 98% !important;
}
.nkWidthHalf {
    width: 49% !important;
}
.nkWidthQuarter {
    width: 26% !important;
}
.nkWidth3Quarter {
    width: 72% !important;
}
.nkWidthTier {
    width: 33% !important;
}

/* Global pour les Float */
.nkFloatRight{
    float: right;
}
.nkFloatLeft{
    float: left;
}

/* Global pour les Padding */
.nkPaddingLeft{
    padding-left: 1%;
}
.nkPaddingRight{
    padding-right: 1%;
}
.nkPaddingTop{
    padding-top: 1%;
}
.nkPaddingBottom{
    padding-bottom: 1%;
}
.nkNoPadding{
    padding: 0;
}
.nkPadding {
    padding: 1%;
}

/* Global pour les Margin */
.nkMarginBottom{
    margin-bottom: 1%;
}
.nkMarginTop{
    margin-top: 1%;
}
.nkMarginRight{
    margin-right: 1%;
}
.nkMarginLeft{
    margin-left: 1%;
}
.nkMarginLRAuto{
    margin: 0 auto;
}
.nkMarginTBAuto{
    margin: auto 0;
}
.nkMargin{
    margin: 1%;
}
.nkNoMargin{
    margin: 0;
}
.nkMarginBottom15{
    margin-bottom: 15px;
}
.nkMarginTop15{
    margin-top: 15px;
}
.nkMarginLeft15{
    margin-left: 15px;
}

/* Global pour les Text-align */
.nkAlignLeft{
    text-align: left !important;
}
.nkAlignRight{
    text-align: right !important;
}
.nkAlignCenter{
    text-align: center !important;
}

/* Global pour les Vertical-align */
.nkValignTop{
    vertical-align: top;
}
.nkValignMiddle{
    vertical-align: middle;
}
.nkValignBottom{
    vertical-align: bottom;
}

/* Global pour les Display */
.nkInline{
    display: inline !important;
}
.nkInlineBlock{
    display: inline-block !important;
}
.nkBlock{
    display: block !important;
}
.nkNone{
    display: none !important;
}

/* Global pour les Font-size */
.nkSize12{
    font-size: 12px !important;
}
.nkSize14{
    font-size: 14px !important;
}
.nkSize16{
    font-size: 16px !important;
}
.nkTextCollapse{
    font-size: 0;
}

.nkBold{
    font-weight: bold;
}
.nkItalic{
    font-style: italic;
}
.nkNnoWrap{
    white-space:nowrap;
}

/*  
    Themes:

    The plugin adds the class of the theme (for example ".jquerybubblepopup-azure") 
    to the main <DIV> container, then you can edit the style of any element inside the 
    Bubble Popup markup for each theme.
    
    The following code defines fonts and backgrounds of the "innerHtml" for each theme:
*/
.jquerybubblepopup{width:auto;height:auto;margin:0px;padding:0px;position:absolute;border:0px;z-index:100;text-align:center;background-color:transparent;font-size: 0px;}
.jquerybubblepopup-ie{filter:progid:DXImageTransform.Microsoft.Shadow(color="#666666", Direction=135, Strength=3);} /* the plugin adds this class only if browser is IE; if IE9, it's added to main <DIV> else to <TABLE> */
.jquerybubblepopup table{width:auto;height:auto;margin:0px;padding:0px;display:table;border-collapse:collapse;border-spacing:0px;border:0px;empty-cells:show;background-color:transparent;}
.jquerybubblepopup tbody{display:table-row-group;vertical-align:middle;border:0px;background-color:transparent;}
.jquerybubblepopup td{margin:0px;padding:0px;background-color:transparent;}
.jquerybubblepopup-top-left,    .jquerybubblepopup-top-right,
.jquerybubblepopup-bottom-left, .jquerybubblepopup-bottom-right{width:21px;height:21px;overflow:hidden;background-repeat:no-repeat;}
.jquerybubblepopup-top-middle,  .jquerybubblepopup-bottom-middle{overflow:hidden;background-repeat:repeat-x;}
.jquerybubblepopup-middle-left, .jquerybubblepopup-middle-right{overflow:hidden;background-repeat:repeat-y;}
.jquerybubblepopup-tail{border:0px;margin:0px;padding:0px;display:inline;}

.jquerybubblepopup-azure  .jquerybubblepopup-innerHtml,
.jquerybubblepopup-black  .jquerybubblepopup-innerHtml,
.jquerybubblepopup-blue   .jquerybubblepopup-innerHtml,
.jquerybubblepopup-green  .jquerybubblepopup-innerHtml,
.jquerybubblepopup-grey   .jquerybubblepopup-innerHtml,
.jquerybubblepopup-orange .jquerybubblepopup-innerHtml,
.jquerybubblepopup-violet .jquerybubblepopup-innerHtml, 
.jquerybubblepopup-yellow .jquerybubblepopup-innerHtml{font-family:'Trebuchet MS',Arial;font-size:11px;font-weight:normal;color:#000000;background-color:#FFFFFF;}
.jquerybubblepopup-all-azure  .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-black  .jquerybubblepopup-innerHtml, 
.jquerybubblepopup-all-blue   .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-green  .jquerybubblepopup-innerHtml, 
.jquerybubblepopup-all-grey   .jquerybubblepopup-innerHtml, 
.jquerybubblepopup-all-orange .jquerybubblepopup-innerHtml,
.jquerybubblepopup-all-violet .jquerybubblepopup-innerHtml, 
.jquerybubblepopup-all-yellow .jquerybubblepopup-innerHtml{font-family:'Trebuchet MS',Arial;font-size:11px;font-weight:normal;color:#FFFFFF;}
.jquerybubblepopup-all-azure  .jquerybubblepopup-innerHtml{background-color:#0099FF;}
.jquerybubblepopup-all-black  .jquerybubblepopup-innerHtml{background-color:#000000;} 
.jquerybubblepopup-all-blue   .jquerybubblepopup-innerHtml{background-color:#0066CC;}
.jquerybubblepopup-all-green  .jquerybubblepopup-innerHtml{background-color:#66FF00;} 
.jquerybubblepopup-all-grey   .jquerybubblepopup-innerHtml{background-color:#666666;}
.jquerybubblepopup-all-orange .jquerybubblepopup-innerHtml{background-color:#FF9933;}
.jquerybubblepopup-all-violet .jquerybubblepopup-innerHtml{background-color:#FF33FF;} 
.jquerybubblepopup-all-yellow .jquerybubblepopup-innerHtml{background-color:#FFCC00;}
