.nkError {
}
.nkSuccess {
}
.nkCenter {
    text-align: center;
}
#nkCenter {
    text-align: center;
}
.ie-gradient{-ms-filter:"none"; filter:none}
body{
    font-size: 11px;
    font-family: sans-serif;
}
/* DIFNITION DE LA COULEUR DES LIENS / TEXTES */
a, a:link, a:visited, a:hover {
    text-decoration: none;
    outline: none;
}

ol > li {
    list-style-type: decimal;
}
/* SUPPRESSION DES POINTS SUR LES LI */
li {
    list-style: none outside none;
}
.nkPowered {
    background-image: url(../../images/nk_powered.gif);
    display: block;
    height: 15px;
    margin: auto;
    width: 80px;
}
/******* AJOUT PAR MAXXI ********/
#nkSiteClose {
    background: none repeat scroll 0 0 #ECEADB;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    min-width: 900px;
    padding: 0;
}
#nkSiteClose a:link, #nkSiteClose a:visited, #nkSiteClose a:active, #nkSiteClose a:hover {
    border: 0 none;
    color: #78B404;
    outline: 0 none;
    text-decoration: none;
}
#nkSiteClose section {
    background: url(../../modules/Admin/images/bg-login.gif) repeat scroll 0 0 #222222;
    border-radius: 10px;
    display: block;
    margin: 50px auto auto;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}
#nkSiteClose hgroup {
    display: block;
    padding-top: 15px;
}
#nkSiteClose img {
    vertical-align: middle;
}
#nkSiteClose h1 {
    color: white;
    display: inline;
    font-size: 24pt;
    vertical-align: middle;
}
#nkSiteClose h2 {
    color: #DBDBDB;
    font-size: 18pt;
    font-style: italic;
    margin: 0;
}
#nkSiteClose p {
    font-size: 12pt;
    padding: 14px;
}
#nkSiteClose form {
    background: none repeat scroll 0 0 #555555;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: block;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}
#nkSiteClose div {
    padding: 5px;
}
#nkSiteClose label {
    display: inline-block;
    text-align: left;
    width: 90px;
}
#nkSiteClose input {
    background: none repeat scroll 0 0 #828282;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    height: 20px;
}
#nkSiteClose input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #7D7D7D 30%, #272727 100%);
    background-image:    -moz-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:     -ms-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:      -o-linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    background-image:         linear-gradient(center top, #7D7D7D 30%, #272727 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D',endColorstr='#272727', GradientType=0);
    border: 1px solid #343434;
    border-radius: 4px;
    cursor: pointer;
    height: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
#nkSiteClose input[type="submit"]:hover {
    background-image: -webkit-linear-gradient(top, #272727 30%, #7D7D7D 100%);
    background-image:    -moz-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:     -ms-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:      -o-linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    background-image:         linear-gradient(center top, #272727 30%, #7D7D7D 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727',endColorstr='#7D7D7D', GradientType=0);
}
#nkSiteClose footer {
    color: #979994;
    text-align: center;
    height: 15px;
}
#nkSiteClose a {
    color: #78B404;
}


/* Affichage pop MP */
#popup_dhtml {
    position:absolute;
    top:0;
    left:0;
    visibility:visible;
    z-index:10;
}

/* Dimension de la fonction post des commentaires */
#commentPostGlobal {
    height: 350px;
    margin: 0;
    padding: 0;
}
.bgCommentAltern{
    background: #727272;
    border-bottom: 1px solid #000;
}
.bgCommentAltern:nth-child(odd){
    background: #646464;
}
/* Temps de generation index */
#nkGenerate{
    text-align:center;
}
/* NK Captcha */
#nkCaptcha img {
    display: block;
}
#captchaImg > img {
    vertical-align: middle;
}
#captchaCheck input {
    width: 100px;
}
#securityPass {
    margin-top: -10px;
}

/* CSS pour la fonction Vote */
div.globalVoteResult {
    display: inline-block;
    text-align: right;
    width: 39%;
}
div.globalResultVote {
    display: inline;
    float: right;
    text-align: right;
    width: 39%;
}
div.globalResultVote  > img {
    vertical-align: middle;
}
div[class^='globalRating_'] {
    display: inline;
}
div[id^='globalVoteResult_'] {
    display: inline;
}
.iconeRating {
    vertical-align: middle;position:relative;
    z-index:24;
    color:#000;
    text-decoration:none
}

/* Global pour l'affichage du breadcrumb */
#nkBreadCrumb {
    left: 9px;
    position: relative;
    top: 8px;
}
.crumbs li, .crumbsgreen li, .crumbsblue li, .crumbsyellow li, .crumbsred li, .crumbspurple li {display: inline;}
.crumbs li:first-child, .crumbsgreen li:first-child; .crumbsblue li:first-child, .crumbsyellow li:first-child, .crumbsred li:first-child, .crumbspurple li:first-child, .crumbsadmin li:first-child {}
.crumbs li a, .crumbs li a:link, .crumbs li a:visited, 
.crumbsgreen li a, .crumbsgreen li a:link, .crumbsgreen:visited li a,
.crumbsblue li a, .crumbsblue li a:link, .crumbsblue:visited li a,
.crumbsyellow li a, .crumbsyellow li a:link, .crumbsyellow:visited li a,
.crumbsred li a, .crumbsred li a:link, .crumbsred li a:visited, 
.crumbspurple li a, .crumbspurple li a:link, .crumbspurple li a:visited {margin-left: -15px; padding: 8px 17px;text-decoration: none;}

.crumbs li a:hover, 
.crumbsgreen li a:hover, 
.crumbsblue li a:hover, 
.crumbspurple li a:hover,
.crumbsred li a:hover, 
.crumbsadmin li a:hover,
.crumbsyellow li a:hover { cursor: pointer; }
.crumbs li a:hover { background-position: 100% -96px; }
.crumbsgreen li a:hover { background-position: 100% -394px; }
.crumbsblue li a:hover { background-position: 100% -245px; }
.crumbspurple li a:hover { background-position: 100% -543px; }
.crumbsred li a:hover { background-position: 100% -692px; }
.crumbsyellow li a:hover { background-position: 100% -841px; }

.crumbs li a:active { background-position: 100% -48px; }
.crumbsgreen li a:active { background-position: 100% -346px; }
.crumbsblue li a:active { background-position: 100% -197px; }
.crumbspurple li a:active { background-position: 100% -495px; }
.crumbsred li a:active { background-position: 100% -644px; }
.crumbsyellow li a:active { background-position: 100% -793px }

.crumbs li:last-child a, 
.crumbsgreen li:last-child a, 
.crumbsblue li:last-child a, 
.crumbsyellow li:last-child a, 
.crumbsred li:last-child a, 
.crumbspurple li:last-child a{color: #666;}

[class^="crumbs"] li a,
[class^="crumbsgreen"] li a,
[class^="crumbsblue"] li a,
[class^="crumbsyellow"] li a,
[class^="crumbsred"] li a,
[class^="crumbspurple"] li a {background-position: 100% 0; position: relative;}

[class^="crumbs"] li a,
[class^="crumbsblue"] li a,
[class^="crumbsgreen"] li a,
[class^="crumbsyellow"] li a,
[class^="crumbsred"] li a,
[class^="crumbspurple"] li a {background-image: url(../../images/breadcrumbs/crumbsBackground.png);}

[class^="crumbs"] li a { background-position: 100% 0; width: 480px; height: 144px; } 
[class^="crumbsblue"] li a { background-position: 100% -149px; width: 480px; height: 144px; } 
[class^="crumbsgreen"] li a { background-position: 100% -298px; width: 480px; height: 144px; } 
[class^="crumbspurple"] li a { background-position: 100% -447px; width: 480px; height: 144px; } 
[class^="crumbsred"] li a { background-position: 100% -596px; width: 480px; height: 144px; } 
[class^="crumbsyellow"] li a { background-position: 100% -745px; width: 480px; height: 144px; } 

/* Global pour l'affichage des icons "sprites" */
[class^="nkIcon"] {
    background-image: url(../../images/nkIconSprite.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px; 
    display: inline-block;
    margin-top : 1px;
    line-height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.nkIconAccept{ background-position: 0 0;  } 
.nkIconAdd{ background-position: -21px 0;  } 
.nkIconAddComment{ background-position: -42px 0;  } 
.nkIconAddFavorites{ background-position: -63px 0;  } 
.nkIconAddLink{ background-position: -84px 0;  } 
.nkIconAddPage{ background-position: -105px 0;  } 
.nkIconAi{ background-position: -126px 0;  } 
.nkIconAttachment{ background-position: -147px 0;  } 
.nkIconAutor{ background-position: -168px 0;  } 
.nkIconAvi{ background-position: -189px 0;  } 
.nkIconBack{ background-position: -210px 0;  } 
.nkIconBlock{ background-position: -231px 0;  } 
.nkIconBmp{ background-position: -252px 0;  } 
.nkIconCdr{ background-position: -273px 0;  } 
.nkIconChart{ background-position: -294px 0;  } 
.nkIconClock{ background-position: -315px 0;  } 
.nkIconComments{ background-position: -336px 0;  } 
.nkIconCss{ background-position: -357px 0;  } 
.nkIconCsv{ background-position: -378px 0;  } 
.nkIconDate{ background-position: -399px 0;  } 
.nkIconDateUpdate{ background-position: -420px 0;  } 
.nkIconDelete{ background-position: -441px 0;  } 
.nkIconDoc{ background-position: -462px 0;  } 
.nkIconDownload{ background-position: -483px 0;  } 
.nkIconEmail{ background-position: -504px 0;  } 
.nkIconEps{ background-position: -525px 0;  } 
.nkIconFla{ background-position: -546px 0;  } 
.nkIconFolder{ background-position: -567px 0;  } 
.nkIconGif{ background-position: -588px 0;  } 
.nkIconGlobe{ background-position: -609px 0;  } 
.nkIconHeart{ background-position: -630px 0;  } 
.nkIconHelp{ background-position: -651px 0;  } 
.nkIconHome{ background-position: -672px 0;  } 
.nkIconIco{ background-position: -693px 0;  } 
.nkIconInfo{ background-position: -714px 0;  } 
.nkIconJpg{ background-position: -735px 0;  } 
.nkIconJs{ background-position: -756px 0;  } 
.nkIconJson{ background-position: -777px 0;  } 
.nkIconLink{ background-position: -798px 0;  } 
.nkIconMail{ background-position: -819px 0;  } 
.nkIconMailLock{ background-position: -840px 0;  } 
.nkIconMailReceive{ background-position: -861px 0;  } 
.nkIconMailSend{ background-position: -882px 0;  } 
.nkIconMemberSearch{ background-position: -903px 0;  } 
.nkIconMembers{ background-position: -924px 0;  } 
.nkIconMov{ background-position: -945px 0;  } 
.nkIconMp3{ background-position: -966px 0;  } 
.nkIconMusic{ background-position: -987px 0;  } 
.nkIconNext{ background-position: -1008px 0;  } 
.nkIconNextTrack{ background-position: -1029px 0;  } 
.nkIconPalette{ background-position: -1050px 0;  } 
.nkIconPause{ background-position: -1071px 0;  } 
.nkIconPdf{ background-position: -1092px 0;  } 
.nkIconPhone{ background-position: -1113px 0;  } 
.nkIconPlay{ background-position: -1134px 0;  } 
.nkIconPng{ background-position: -1155px 0;  } 
.nkIconPpt{ background-position: -1176px 0;  } 
.nkIconPreviousTrack{ background-position: -1197px 0;  } 
.nkIconPrint{ background-position: -1218px 0;  } 
.nkIconPsd{ background-position: -1239px 0;  } 
.nkIconRefresh{ background-position: -1260px 0;  } 
.nkIconRemoveLink{ background-position: -1281px 0;  } 
.nkIconRss{ background-position: -1302px 0;  } 
.nkIconSearch{ background-position: -1323px 0;  } 
.nkIconShutDown{ background-position: -1344px 0;  } 
.nkIconStarEmpty{ background-position: -1365px 0;  } 
.nkIconStarFull{ background-position: -1386px 0;  } 
.nkIconStarHalfFull{ background-position: -1407px 0;  } 
.nkIconStop{ background-position: -1428px 0;  } 
.nkIconSvg{ background-position: -1449px 0;  } 
.nkIconSwf{ background-position: -1470px 0;  } 
.nkIconTextPage{ background-position: -1491px 0;  } 
.nkIconTiff{ background-position: -1512px 0;  } 
.nkIconTrash{ background-position: -1533px 0;  } 
.nkIconTtf{ background-position: -1554px 0;  } 
.nkIconTxt{ background-position: -1575px 0;  } 
.nkIconUnlock{ background-position: -1596px 0;  } 
.nkIconVolumeDown{ background-position: -1617px 0;  } 
.nkIconVolumeUp{ background-position: -1638px 0;  } 
.nkIconWarning{ background-position: -1659px 0;  } 
.nkIconWave{ background-position: -1680px 0;  } 
.nkIconXls{ background-position: -1701px 0;  } 
.nkIconXml{ background-position: -1722px 0;  } 
.nkIconZip{ background-position: -1743px 0;  } 
.nkIconZipFileInfo{ background-position: -1764px 0;  } 
.nkIconZoomIn{ background-position: -1785px 0;  } 
.nkIconZoomOut{ background-position: -1806px 0;  } 
.nkIconlang{ background-position: -1827px 0;  } 


/* Global pour l'affichage des icons "sprites" */
[class^="nkIcon24"], [class*="nkIcon24"] {
    background-image: url(../../images/nkIconSprite24.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px; 
    display: inline-block;
    margin-top : 1px;
    line-height: 24px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.nkIcon24Admin{ background-position: 0 0; width: 24px; height: 24px; } 
.nkIcon24Delete{ background-position: -29px 0; width: 24px; height: 24px; } 
.nkIcon24Edit{ background-position: -58px 0; width: 24px; height: 24px; } 
.nkIcon24Home{ background-position: -87px 0; width: 24px; height: 24px; } 
.nkIcon24LogOut{ background-position: -116px 0; width: 24px; height: 24px; } 
.nkIcon24Mail{ background-position: -145px 0; width: 24px; height: 24px; } 
.nkIcon24MailReceive{ background-position: -174px 0; width: 24px; height: 24px; } 
.nkIcon24MailSend{ background-position: -203px 0; width: 24px; height: 24px; } 
.nkIcon24Pdf{ background-position: -232px 0; width: 24px; height: 24px; } 
.nkIcon24ReadMore{ background-position: -261px 0; width: 24px; height: 24px; } 
.nkIcon24Trash{ background-position: -290px 0; width: 24px; height: 24px; } 

/* Affichage des drapeaux */
[class^="nkFlags"], [class*="nkFlags"] {
    background-image: url(../../images/nkFlags.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 11px; 
    display: inline-block;
    margin-top : 1px;
    line-height: 16px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.nkFlagsAD {background-position: -16px 0}
.nkFlagsAE {background-position: -32px 0}
.nkFlagsAF {background-position: -48px 0}
.nkFlagsAG {background-position: -64px 0}
.nkFlagsAI {background-position: -80px 0}
.nkFlagsAL {background-position: -96px 0}
.nkFlagsAM {background-position: -112px 0}
.nkFlagsAN {background-position: -128px 0}
.nkFlagsAO {background-position: -144px 0}
.nkFlagsAR {background-position: -160px 0}
.nkFlagsAS {background-position: -176px 0}
.nkFlagsAT {background-position: -192px 0}
.nkFlagsAU {background-position: -208px 0}
.nkFlagsAW {background-position: -224px 0}
.nkFlagsAZ {background-position: -240px 0}
.nkFlagsBA {background-position: 0 -11px}
.nkFlagsBB {background-position: -16px -11px}
.nkFlagsBD {background-position: -32px -11px}
.nkFlagsBE {background-position: -48px -11px}
.nkFlagsBF {background-position: -64px -11px}
.nkFlagsBG {background-position: -80px -11px}
.nkFlagsBH {background-position: -96px -11px}
.nkFlagsBI {background-position: -112px -11px}
.nkFlagsBJ {background-position: -128px -11px}
.nkFlagsBM {background-position: -144px -11px}
.nkFlagsBN {background-position: -160px -11px}
.nkFlagsBO {background-position: -176px -11px}
.nkFlagsBR {background-position: -192px -11px}
.nkFlagsBS {background-position: -208px -11px}
.nkFlagsBT {background-position: -224px -11px}
.nkFlagsBV {background-position: -240px -11px}
.nkFlagsBW {background-position: 0 -22px}
.nkFlagsBY {background-position: -16px -22px}
.nkFlagsBZ {background-position: -32px -22px}
.nkFlagsCA {background-position: -48px -22px}
.nkFlagsCD {background-position: -80px -22px}
.nkFlagsCF {background-position: -96px -22px}
.nkFlagsCG {background-position: -112px -22px}
.nkFlagsCH {background-position: -128px -22px}
.nkFlagsCI {background-position: -144px -22px}
.nkFlagsCK {background-position: -160px -22px}
.nkFlagsCL {background-position: -176px -22px}
.nkFlagsCM {background-position: -192px -22px}
.nkFlagsCN {background-position: -208px -22px}
.nkFlagsCO {background-position: -224px -22px}
.nkFlagsCR {background-position: -240px -22px}
.nkFlagsCU {background-position: 0 -33px}
.nkFlagsCV {background-position: -16px -33px}
.nkFlagsCW {background-position: -32px -33px}
.nkFlagsCY {background-position: -48px -33px}
.nkFlagsCZ {background-position: -64px -33px}
.nkFlagsDE {background-position: -80px -33px}
.nkFlagsDJ {background-position: -96px -33px}
.nkFlagsDk {background-position: -112px -33px}
.nkFlagsDM {background-position: -128px -33px}
.nkFlagsDO {background-position: -144px -33px}
.nkFlagsDZ {background-position: -160px -33px}
.nkFlagsEC {background-position: -176px -33px}
.nkFlagsEE {background-position: -192px -33px}
.nkFlagsEG {background-position: -208px -33px}
.nkFlagsEH {background-position: -224px -33px}
.nkFlagsEN {background-position: -240px -33px}
.nkFlagsER {background-position: 0 -44px}
.nkFlagsES {background-position: -16px -44px}
.nkFlagsET {background-position: -32px -44px}
.nkFlagsEU {background-position: -48px -44px}
.nkFlagsFI {background-position: -64px -44px}
.nkFlagsFJ {background-position: -80px -44px}
.nkFlagsFK {background-position: -96px -44px}
.nkFlagsFM {background-position: -112px -44px}
.nkFlagsFO {background-position: -128px -44px}
.nkFlagsFR {background-position: -144px -44px}
.nkFlagsGA {background-position: -160px -44px}
.nkFlagsGB {background-position: -176px -44px}
.nkFlagsGD {background-position: -192px -44px}
.nkFlagsGE {background-position: -208px -44px}
.nkFlagsGF {background-position: -224px -44px}
.nkFlagsGG {background-position: -240px -44px}
.nkFlagsGH {background-position: 0 -55px}
.nkFlagsGI {background-position: -16px -55px}
.nkFlagsGL {background-position: -32px -55px}
.nkFlagsGM {background-position: -48px -55px}
.nkFlagsGN {background-position: -64px -55px}
.nkFlagsGP {background-position: -80px -55px}
.nkFlagsGQ {background-position: -96px -55px}
.nkFlagsGR {background-position: -112px -55px}
.nkFlagsGS {background-position: -128px -55px}
.nkFlagsGT {background-position: -144px -55px}
.nkFlagsGU {background-position: -160px -55px}
.nkFlagsGW {background-position: -176px -55px}
.nkFlagsGY {background-position: -192px -55px}
.nkFlagsHK {background-position: -208px -55px}
.nkFlagsHM {background-position: -224px -55px}
.nkFlagsHN {background-position: -240px -55px}
.nkFlagsHR {background-position: 0 -66px}
.nkFlagsHT {background-position: -16px -66px}
.nkFlagsHU {background-position: -32px -66px}
.nkFlagsIC {background-position: -48px -66px}
.nkFlagsID {background-position: -64px -66px}
.nkFlagsIE {background-position: -80px -66px}
.nkFlagsIL {background-position: -96px -66px}
.nkFlagsIM {background-position: -112px -66px}
.nkFlagsIN {background-position: -128px -66px}
.nkFlagsIO {background-position: -144px -66px}
.nkFlagsIQ {background-position: -160px -66px}
.nkFlagsIR {background-position: -176px -66px}
.nkFlagsIS {background-position: -192px -66px}
.nkFlagsIT {background-position: -208px -66px}
.nkFlagsJE {background-position: -224px -66px}
.nkFlagsJM {background-position: -240px -66px}
.nkFlagsJO {background-position: 0 -77px}
.nkFlagsJP {background-position: -16px -77px}
.nkFlagsKE {background-position: -32px -77px}
.nkFlagsKG {background-position: -48px -77px}
.nkFlagsKH {background-position: -64px -77px}
.nkFlagsKI {background-position: -80px -77px}
.nkFlagsKM {background-position: -96px -77px}
.nkFlagsKN {background-position: -112px -77px}
.nkFlagsKP {background-position: -128px -77px}
.nkFlagsKR {background-position: -144px -77px}
.nkFlagsKW {background-position: -176px -77px}
.nkFlagsKY {background-position: -192px -77px}
.nkFlagsKZ {background-position: -208px -77px}
.nkFlagsLA {background-position: -224px -77px}
.nkFlagsLB {background-position: -240px -77px}
.nkFlagsLC {background-position: 0 -88px}
.nkFlagsLI {background-position: -16px -88px}
.nkFlagsLK {background-position: -32px -88px}
.nkFlagsLR {background-position: -48px -88px}
.nkFlagsLS {background-position: -64px -88px}
.nkFlagsLT {background-position: -80px -88px}
.nkFlagsLU {background-position: -96px -88px}
.nkFlagsLV {background-position: -112px -88px}
.nkFlagsLY {background-position: -128px -88px}
.nkFlagsMA {background-position: -144px -88px}
.nkFlagsMC {background-position: -160px -88px}
.nkFlagsMD {background-position: -176px -88px}
.nkFlagsME {background-position: -192px -88px}
.nkFlagsMG {background-position: -208px -88px}
.nkFlagsMH {background-position: -224px -88px}
.nkFlagsMK {background-position: -240px -88px}
.nkFlagsML {background-position: 0 -99px}
.nkFlagsMM {background-position: -16px -99px}
.nkFlagsMN {background-position: -32px -99px}
.nkFlagsMO {background-position: -48px -99px}
.nkFlagsMP {background-position: -64px -99px}
.nkFlagsMQ {background-position: -80px -99px}
.nkFlagsMR {background-position: -96px -99px}
.nkFlagsMS {background-position: -112px -99px}
.nkFlagsMT {background-position: -128px -99px}
.nkFlagsMU {background-position: -144px -99px}
.nkFlagsMV {background-position: -160px -99px}
.nkFlagsMW {background-position: -176px -99px}
.nkFlagsMX {background-position: -192px -99px}
.nkFlagsMY {background-position: -208px -99px}
.nkFlagsMZ {background-position: -224px -99px}
.nkFlagsNA {background-position: -240px -99px}
.nkFlagsNC {background-position: 0 -110px}
.nkFlagsNE {background-position: -16px -110px}
.nkFlagsNF {background-position: -32px -110px}
.nkFlagsNG {background-position: -48px -110px}
.nkFlagsNI {background-position: -64px -110px}
.nkFlagsNL {background-position: -80px -110px}
.nkFlagsNO {background-position: -96px -110px}
.nkFlagsNP {background-position: -112px -110px}
.nkFlagsNR {background-position: -128px -110px}
.nkFlagsNU {background-position: -144px -110px}
.nkFlagsNZ {background-position: -160px -110px}
.nkFlagsOM {background-position: -176px -110px}
.nkFlagsPA {background-position: -192px -110px}
.nkFlagsPE {background-position: -208px -110px}
.nkFlagsPF {background-position: -224px -110px}
.nkFlagsPG {background-position: -240px -110px}
.nkFlagsPH {background-position: 0 -121px}
.nkFlagsPK {background-position: -16px -121px}
.nkFlagsPL {background-position: -32px -121px}
.nkFlagsPM {background-position: -48px -121px}
.nkFlagsPN {background-position: -64px -121px}
.nkFlagsPR {background-position: -80px -121px}
.nkFlagsPS {background-position: -96px -121px}
.nkFlagsPT {background-position: -112px -121px}
.nkFlagsPW {background-position: -128px -121px}
.nkFlagsPY {background-position: -144px -121px}
.nkFlagsQA {background-position: -160px -121px}
.nkFlagsRE {background-position: -176px -121px}
.nkFlagsRO {background-position: -192px -121px}
.nkFlagsRS {background-position: -208px -121px}
.nkFlagsRU {background-position: -224px -121px}
.nkFlagsRW {background-position: -240px -121px}
.nkFlagsSA {background-position: 0 -132px}
.nkFlagsSB {background-position: -16px -132px}
.nkFlagsSC {background-position: -32px -132px}
.nkFlagsSD {background-position: -64px -132px}
.nkFlagsSE {background-position: -80px -132px}
.nkFlagsSG {background-position: -96px -132px}
.nkFlagsSH {background-position: -112px -132px}
.nkFlagsSI {background-position: -128px -132px}
.nkFlagsSK {background-position: -144px -132px}
.nkFlagsSL {background-position: -160px -132px}
.nkFlagsSM {background-position: -176px -132px}
.nkFlagsSN {background-position: -192px -132px}
.nkFlagsSO {background-position: -208px -132px}
.nkFlagsSR {background-position: -240px -132px}
.nkFlagsSS {background-position: 0 -143px}
.nkFlagsST {background-position: -16px -143px}
.nkFlagsSV {background-position: -32px -143px}
.nkFlagsSX {background-position: -48px -143px}
.nkFlagsSY {background-position: -64px -143px}
.nkFlagsSZ {background-position: -80px -143px}
.nkFlagsTC {background-position: -96px -143px}
.nkFlagsTD {background-position: -112px -143px}
.nkFlagsTF {background-position: -128px -143px}
.nkFlagsTG {background-position: -144px -143px}
.nkFlagsTH {background-position: -160px -143px}
.nkFlagsTJ {background-position: -176px -143px}
.nkFlagsTK {background-position: -192px -143px}
.nkFlagsTL {background-position: -208px -143px}
.nkFlagsTM {background-position: -224px -143px}
.nkFlagsTN {background-position: -240px -143px}
.nkFlagsTO {background-position: 0 -154px}
.nkFlagsTR {background-position: -16px -154px}
.nkFlagsTT {background-position: -32px -154px}
.nkFlagsTV {background-position: -48px -154px}
.nkFlagsTW {background-position: -64px -154px}
.nkFlagsTZ {background-position: -80px -154px}
.nkFlagsUA {background-position: -96px -154px}
.nkFlagsUG {background-position: -112px -154px}
.nkFlagsUM {background-position: -128px -154px}
.nkFlagsUS {background-position: -144px -154px}
.nkFlagsUY {background-position: -160px -154px}
.nkFlagsUZ {background-position: -176px -154px}
.nkFlagsVA {background-position: -192px -154px}
.nkFlagsVC {background-position: -208px -154px}
.nkFlagsVE {background-position: -224px -154px}
.nkFlagsVG {background-position: -240px -154px}
.nkFlagsVI {background-position: 0 -165px}
.nkFlagsVN {background-position: -16px -165px}
.nkFlagsVU {background-position: -32px -165px}
.nkFlagsWF {background-position: -64px -165px}
.nkFlagsWS {background-position: -80px -165px}
.nkFlagsYE {background-position: -96px -165px}
.nkFlagsYT {background-position: -112px -165px}
.nkFlagsZA {background-position: -128px -165px}
.nkFlagsZM {background-position: -160px -165px}
.nkFlagsZW {background-position: -176px -165px}


/* Affichage pour le Block Login */
.nkBlockLogin {
    margin-top: 20px;
    text-align: center;
}
.nkBlockLogin figure {
    text-align: center;
}
.nkBlockLogin nav {
}
.nkBlockLogin ul {
    list-style: none outside none;
    margin: 0 0 0 28px;
    padding: 0;
    text-align: left;
}
.nkBlockLogin ul:last-child {
    margin-bottom: 10px;
}
.nkBlockLogin h4 {
    margin-left: 10px;
}
.nkBlockLogin h5 {
    font-size: 12px;
    margin: 0 0 0 8px;
    text-align: left;
}
.nkBlockLogin form {
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    display: block;
}
.nkBlockLogin div {
    padding: 3px;
}
.nkBlockLogin label {
    display: inline-block;
    text-align: left;
    width: 84px;
}
.nkBlockLogin #BlockLoginRememberme {
    vertical-align: top;
    width: 55%;
}
.nkBlockLogin input[type="checkbox"] {
    width: 25px;
}
.nkBlockLogin input[type="submit"] {
    margin-bottom: 5px;
}
/* Global pour l'affichage des <label> */
.nkLabelSpacing15 {
    width: 35%;
    display: inline-block !important;
    padding: 15px 0;
}
/* Global pour l'affichage des <label> */
.nkLabelSpacing {
    width: 35%;
    display: inline-block !important;
    padding: 10px 0;
}
/* Global pour l'affichage des boutons <input type=button> */
.nkButton:hover {
    opacity: 0.9;
    color: #fff;
}
.nkButton {
    background-image: -webkit-linear-gradient(top, #444 30%, #222 100%);
    background-image:    -moz-linear-gradient(center top, #444 30%, #222 100%);
    background-image:     -ms-linear-gradient(center top, #444 30%, #222 100%);
    background-image:      -o-linear-gradient(center top, #444 30%, #222 100%);
    background-image:         linear-gradient(center top, #444 30%, #222 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444',endColorstr='#222', GradientType=0);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9px;
    font-style: normal;
    font-weight: normal;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    max-width: 100%;
    padding: 5px;
    text-align: center;
    color: #ccc;
}

/* Global pour afficher une séparation en 3D */
.nkSeparator {
    background-image: -webkit-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:    -moz-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:     -ms-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:      -o-linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    background-image:         linear-gradient(right top, #D3D3D3 13%, #000000 127%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3',endColorstr='#000000', GradientType=1);
    height: 1px;
    margin: 8px auto;
    padding: 0 !important;
    width: 90%;
}
/*  Global pour les <input> et <select> */ 
.nkInput, .nkSelect {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #444444;
    border-image: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    color: #446DD7;
    padding-left: 5px;
    height: 20px;
}
.nkInput:hover, .nkSelect:hover, .nkTextArea:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.nkTextArea {
    height: 120px;    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #444444;
    border-image: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.3) inset;
    color: #5594DA;
    padding-left: 5px;
    min-width: 90px;
}

option {
    background-color: #1C1C1C;
}
 /* Global pour afficher une couleur sur 2 dans les éléments */
.nkAlternColor:nth-of-type(2n+1) {
    background: #F3F3F3;
}

/* Global pour la public function nkRadioBox */
.nkRadioBoxcontainer label:first-child {
    display: inline-block !important;
    padding: 0;
    vertical-align: top;
    margin-top: 5px;
}
.nkRadioBox {
    display: inline-block;
    padding: 2px;
}
.nkRadioBoxLabel {
    cursor: pointer;
    font-size: 11px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
}
.nkRadioBoxInput {
  display: none;
}
.nkRadioBoxInput:checked + .nkRadioBoxLabel {
    font-weight: bold;
    color: #fff;
    background: #0059A8;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #0059A8, #00199D);
    background-image: -moz-linear-gradient(top, #0059A8, #00199D);
    background-image: -o-linear-gradient(top, #0059A8, #00199D);
    background-image: linear-gradient(to bottom, #0059A8, #00199D);
                        
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.3), 0 0 2px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

/* Global pour la public function nkCheckBox */
.nkCheckBox {
    display: block;
    margin: 10px 0;
    text-align: left;
}
.nkCheckBox label:first-child {
    display: inline;
    margin-left: 14px;
    margin-right: 9px;
}
.nkCheckBoxRounded input[type=checkbox] {
    visibility: hidden;
}
.nkCheckBoxRounded {
    display: inline-block;
    height: 15px;
    padding: 0 !important;
    position: relative;
    width: 14px;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}
.nkCheckBoxRounded label {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    left: 2px;
    top: 3px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
}
.nkCheckBoxRounded label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3FFF00;
    border-radius: 50px;
}
.nkCheckBoxRounded label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    left: 0;
}
.nkCheckBoxRounded input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    left: 0;
}

/* TOTOP CSS */
#nkToTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:0px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:-999px;
    background: url(../../images/nkToTop.png) no-repeat top left;
}

.nkToTopBlue{ background-position: 0 0 !important; } 
.nkToTopBlue:hover{ background-position: 0 -51px !important; } 
.nkToTopCircle{ background-position: -56px 0 !important; } 
.nkToTopCircle:hover{ background-position: -56px -51px !important; } 
.nkToTopCircle2{ background-position: -112px 0 !important; width: 52px !important; height: 52px !important;}
.nkToTopCircle2:hover{ background-position: -112px -52px !important; width: 52px !important; height: 52px !important; } 
.nkToTopCube{ background-position: -169px 0 !important; } 
.nkToTopCube:hover{ background-position: -169px -51px !important; } 
.nkToTopGreen{ background-position: -225px 0px !important; width: 52px !important; height: 47px !important; } 
.nkToTopGreen:hover{ background-position: -225px -48px !important; width: 52px !important; height: 47px !important; } 
.nkToTopGrey{ background-position: -282px 0 !important; } 
.nkToTopGrey:hover{ background-position: -282px -51px !important; } 
.nkToTopRound{ background-position: -338px 0 !important; } 
.nkToTopRound:hover{ background-position: -338px -51px !important; } 
.nkToTopBlack{ background-position: -394px 0 !important; } 
.nkToTopBlack:hover{ background-position: -394px -51px !important; } 


/* Global pour les Width */
.nkWidthFully{
    width: 100% !important;
}
.nkWidthFull {
    width: 98% !important;
}
.nkWidthHalf {
    width: 49% !important;
}
.nkWidthQuarter {
    width: 26% !important;
}
.nkWidth3Quarter {
    width: 72% !important;
}
.nkWidthTier {
    width: 33% !important;
}

/* Global pour les Float */
.nkFloatRight{
    float: right;
}
.nkFloatLeft{
    float: left;
}

/* Global pour les Padding */
.nkPaddingLeft{
    padding-left: 1%;
}
.nkPaddingRight{
    padding-right: 1%;
}
.nkPaddingTop{
    padding-top: 1%;
}
.nkPaddingBottom{
    padding-bottom: 1%;
}
.nkNoPadding{
    padding: 0;
}
.nkPadding {
    padding: 1%;
}
.nkPaddingTB5 {
    padding: 5px 0;
}
.nkPaddingLR5 {
    padding: 0 5px;
}

/* Global pour les Margin */
.nkMarginBottom{
    margin-bottom: 1%;
}
.nkMarginTop{
    margin-top: 1%;
}
.nkMarginRight{
    margin-right: 1%;
}
.nkMarginLeft{
    margin-left: 1%;
}
.nkMarginLRAuto{
    margin: 0 auto;
}
.nkMarginTBAuto{
    margin: auto 0;
}
.nkMargin{
    margin: 1%;
}
.nkNoMargin{
    margin: 0;
}
.nkMarginBottom15{
    margin-bottom: 15px;
}
.nkMarginTop15{
    margin-top: 15px;
}
.nkMarginLeft15{
    margin-left: 15px;
}

/* Global pour les Text-align */
.nkAlignLeft{
    text-align: left !important;
}
.nkAlignRight{
    text-align: right !important;
}
.nkAlignCenter{
    text-align: center !important;
}

/* Global pour les Vertical-align */
.nkValignTop{
    vertical-align: top;
}
.nkValignMiddle{
    vertical-align: middle;
}
.nkValignBottom{
    vertical-align: bottom;
}

/* Global pour les Display */
.nkInline{
    display: inline !important;
}
.nkInlineBlock{
    display: inline-block !important;
}
.nkBlock{
    display: block !important;
}
.nkNone{
    display: none !important;
}

/* Global pour les Font-size */
.nkSize11{
    font-size: 11px !important;
}
.nkSize12{
    font-size: 12px !important;
}
.nkSize14{
    font-size: 14px !important;
}
.nkSize16{
    font-size: 16px !important;
}
.nkTextCollapse{
    font-size: 0;
}

.nkNoFont{
    font-weight: normal;
}
.nkBold{
    font-weight: bold;
}
.nkItalic{
    font-style: italic;
}
.nkNnoWrap{
    white-space:nowrap;
}


/********* Ajout Bahamut ********/
.nkAlert {
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;            
    background-image: -webkit-gradient(linear, left top, right bottom,
                            color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                            color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                            to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                        transparent 75%, transparent);
                            
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);        
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    border: 1px solid;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    padding: 15px;
    z-index:1050000;
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
    animation: animate-bg 5s linear infinite;
}
.nkAlertDanger, .nkAlertError {
    background-color: #de4343;
    border-color: #c43d3d;
}
.nkAlertSuccess {
    background-color: #0D860D;
    border-color: #00FF16;
}

.nkAlert h3{
         margin: 0 0 5px 0;                                                  
}

.nkAlert p{
         margin: 0;                                                  
}

.nkAlert a {
    font-weight: bold;
    color: inherit !important;
}
@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

/* MODULE USER */

#backgroundProfil {
    background-color: #333;
    border-radius: 4px;
    margin: auto auto 25px;
    width: 95%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
#contentProfilLeft {
    width: 163px;
    display: table-cell;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#contentProfilLeft figure {
    border: 1px solid #D5D5D5;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    font-size: 0;
    margin: 15px auto;
    width: 100px;
}
#menuProfil {
    float: right;
    margin-bottom: 15px;
    width: 75%;
    cursor: pointer;
}
#menuProfil ul {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    margin-top: 10px;
}
#menuProfil li {
    border-bottom: 1px solid #222;
    color: #808080;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}
#menuProfil li:first-child {    
    border-top-left-radius: 4px;
}
#menuProfil li:last-child {    
    border-bottom-left-radius: 4px;
}
#menuProfil li:hover, #menuProfil li:hover a {
    background-color: #666;
}
#menuProfil li.active {
    z-index: 8000;
    background-color: #666;
}
#menuProfil li.active a {
    color: #222;
    font-weight: bold;
}
#contentProfilRight {
    display: table-cell;
    padding: 10px;
    width: 81%;
    border-left: 1px solid #222;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#contentProfilRight span:first-child {
    color: #446DD7;
}

#contentProfilRight span:last-child {
    color: #999999;
}
#contentProfil {
    border: 1px solid #222;
    margin-top: 5px;
    min-height: 185px;
    border-radius: 4px;
    padding: 5px;
}
.profilContent {
    margin-bottom: 15px;
}

.profilContent > header {
    background-color: #222;
    margin: -5px -5px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.profilContent h3 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.profilContent nav {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.profilContent li {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 5px;
}
.profilContent li:first-child {
    border-top: 1px solid #222;
}
.profilContent li:last-child {
    border-top: 0;
    border-bottom: 1px solid #222;
}
.userMessId {
    width: 8%;
}
.userMessTitle {
    width: 60%;
}
.userMessDate {
    width: 30%
}
.profilMessageForum span {
    font-size: 12px !important;
}
.profilMessageForum {
    border-bottom: 1px solid #666;
}
.profilMessageForum:last-child {
    border-bottom: 0;
}
#profilLogOut:hover {
    opacity: 0.7;
}
#userInfo, #userFriends, #userInfoContact {
    border: 1px solid;
    border-radius: 4px;
}
#userInfo header, #userFriends header, #userInfoContact header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #666;
    color: #222;
}
#userInfo > article, #userInfoContact > article {
    min-height: 50px;
}
#userFriends article {
    min-height: 133px;
}