/* MODULE USER */

#backgroundProfil {
    background-color: #333;
    border-radius: 4px;
    margin: auto auto 25px;
    width: 95%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: table;
}
#contentProfilLeft {
    display: table-cell;
    width: 25%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #222222;
}
#contentProfilLeft figure {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    font-size: 0;
    margin: 15px auto;
    width: 100px;
}
#contentProfilRight article span {
    margin-left: 10px;
}
#menuProfil {
    float: right;
    margin-bottom: 15px;
    cursor: pointer;
    min-width: 137px;
}
#menuProfil ul {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    margin-top: 10px;
}
#menuProfil li {
    border-bottom: 1px solid #222;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
#menuProfil li a {
    display: block;
}
#menuProfil li:first-child {    
    border-top-left-radius: 4px;
}
#menuProfil li:last-child {    
    border-bottom-left-radius: 4px;
}
#menuProfil li:hover, #menuProfil li:hover a {
    background-color: #666;
}
#menuProfil li.active {
    z-index: 8000;
    background-color: #666;
}
#menuProfil li.active a {
    color: #222;
    font-weight: bold;
}
#contentProfil {
    margin-top: 20px;
    min-height: 185px;
    padding: 5px;
}

.profilContent > header {
    background-color: #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.profilContent h3 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.profilContent nav {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
#profilStats, #profilUserBox, 
#profilPrefs, #profilThemes, #profilForum, 
#profilComment, #profilSuggest, #profilFriends, 
#profilVisitor {
    border: 1px solid #222222;
    border-radius: 5px 5px 0 0;
}
#profilFriends div, #profilThemes div, #profilForum div, 
#profilSuggest div, #profilComment div, 
.profilContent form article div, .nkVisitor {
    padding: 5px;
}
.profilContent li {
    border-bottom: 1px solid #222;
    padding: 5px;
}

.profilContent li:last-child {
    border-top: 0;
    border-bottom: 0;
}
.userMessId {
    width: 8%;
}
.userMessTitle {
    width: 60%;
}
.userMessDate {
    width: 30%
}
.profilMessageForum span {
    font-size: 12px !important;
}
.profilMessageForum {
    border-bottom: 1px solid #666;
}
.profilMessageForum:last-child {
    border-bottom: 0;
}
#profilLogOut:hover {
    opacity: 0.7;
}
#userInfo, #userFriends, #userInfoContact {
    border: 1px solid #222;
    border-radius: 4px;
}
#userInfo header, #userFriends header, #userInfoContact header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #666;
    color: #222;
}
#profilPrefs span:first-child {
    color: #999;
}

#profilPrefs select, #profilPrefs input, #profilPrefs div, #nkPersonnalUser div {
    vertical-align: middle;
}

.nkVisitor img {
    max-height: 60px;
    max-width: 60px;
}
.nkVisitor figcaption {
    max-width: 80px;
    text-align: center;
}
.nkVisitor a {
    display: block;
}

.userProfilContent > header {
    background-color: #222;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.userProfilContent h3 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.userProfilContent nav {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.userProfilContent li {
    border-bottom: 1px solid #222;
    padding: 5px;
}
.userProfilContent li:first-child {
    border-top: 1px solid #222;
}
.userProfilContent li:last-child {
    border-top: 0;
    border-bottom: 0;
}
#userDetailContent header {
    background-color: #666;
    color: #222;
    text-align: center;
        border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#userDetailContent section {
    border: 1px solid #666666;
    border-radius: 4px 4px 4px 4px;
}
#userDetailContent article article {
    width: 31%;
}
.nkImgProfile > img {
    width: 10px;
}