/* MODULE USER */

#backgroundProfil {
    background-color: #333;
    border-radius: 4px;
    margin: auto auto 25px;
    width: 95%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: table;
}
#contentProfilLeft {
    display: table-cell;
    width: 25%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#contentProfilLeft figure {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
    font-size: 0;
    margin: 15px auto;
    width: 100px;
}
#menuProfil {
    float: right;
    margin-bottom: 15px;
    cursor: pointer;
    min-width: 137px;
}
#menuProfil ul {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #222;
    border-top: 1px solid #222;
    margin-top: 10px;
}
#menuProfil li {
    border-bottom: 1px solid #222;
    color: #808080;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
#menuProfil li a {
    display: block;
}
#menuProfil li:first-child {    
    border-top-left-radius: 4px;
}
#menuProfil li:last-child {    
    border-bottom-left-radius: 4px;
}
#menuProfil li:hover, #menuProfil li:hover a {
    background-color: #666;
}
#menuProfil li.active {
    z-index: 8000;
    background-color: #666;
}
#menuProfil li.active a {
    color: #222;
    font-weight: bold;
}
#contentProfilRight {
    display: table-cell;
    padding: 10px;
    width: 75%;
    border-left: 1px solid #222;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#contentProfilRight span:first-child {
    color: #446DD7;
    margin-bottom: 15px;
}

#contentProfilRight span:last-child {
    color: #999999;
}
#contentProfil {
    border: 1px solid #222;
    margin-top: 20px;
    min-height: 185px;
    border-radius: 4px;
    padding: 5px;
}
.profilContent {
    margin-bottom: 15px;
}

.profilContent > header {
    background-color: #222;
    margin: -5px -5px 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.profilContent h3 {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.profilContent nav {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}
.profilContent li {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 5px;
}
.profilContent li:first-child {
    border-top: 1px solid #222;
}
.profilContent li:last-child {
    border-top: 0;
    border-bottom: 1px solid #222;
}
.userMessId {
    width: 8%;
}
.userMessTitle {
    width: 60%;
}
.userMessDate {
    width: 30%
}
.profilMessageForum span {
    font-size: 12px !important;
}
.profilMessageForum {
    border-bottom: 1px solid #666;
}
.profilMessageForum:last-child {
    border-bottom: 0;
}
#profilLogOut:hover {
    opacity: 0.7;
}
#userInfo, #userFriends, #userInfoContact {
    border: 1px solid;
    border-radius: 4px;
}
#userInfo header, #userFriends header, #userInfoContact header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #666;
    color: #222;
}
#userInfo > article, #userInfoContact > article {
    min-height: 50px;
}
#userFriends article {
    min-height: 133px;
}

#profilPrefs span:first-child {
    color: #999;
}

#profilPrefs select, #profilPrefs input, #profilPrefs div {
    vertical-align: middle;
}
